
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas, img {
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

table, td{
    border: 1px solid white;
    border-collapse: collapse;
}

.invSlot{
    width: 25%;
    font-size: 40px;
}

#hotbar {
    position: fixed;
    bottom: 5%;
    left: 10%;
    border: 3px solid white;
    color: white;
    width: 80%;
    background-color: rgba(0, 0, 0, .5);
}