
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas, img {
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

table, td{
    border: 1px solid white;
    border-collapse: collapse;
}

.invSlot{
    margin: 0px;
    min-width: 50px;
    height: 50px;
    flex-grow: 1;
    border: solid 1px white;
    font-size: 40px;
    opacity: .3;
    font-size: 20px;
    text-align: center;
    padding: 5px
}

.currentInvSlot{
    border-color: #41c2b4;
    opacity: .8;
}

#audio {
    visibility: hidden;
}

#hotbar {
    display: flex;
    position: fixed;
    bottom: 5%;
    left: 20%;
    /* border: 3px solid white; */
    color: white;
    width: 60%;
    background-color: rgba(0, 0, 0, .5);
}